# Visual Studio files
.vs/
bin/
obj/

# Build results
[Bb]in/
[Oo]bj/

# .NET Core files
*.dll
*.exe
*.pdb
*.user
*.vspscc
*.dotCover
*.resharper
*.suo
*.cache
*.log
*.vscode

# Test Results
TestResults/

# Other files
*.log
*.txt
*.md
*.nupkg
*.config
*.json
*.csproj.user
*.sln.docstates